<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing service offer</h1>

  <%= render "form", service_offer: @service_offer %>

  <%= link_to "Show this service offer", @service_offer, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to service offers", service_offers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
